.animationContainer {
    display: flex;
    justify-content: center; /* 이미지를 가운데 정렬 */
    
}

.animatedImg {
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    opacity: 0; /* 초기 상태는 투명하게 */
}

.img0 {
    animation-delay: 0s;
}

.img1 {
    animation-delay: 0.33s; /* 첫 번째 이미지보다 0.33초 지연 */
}

.img2 {
    animation-delay: 0.66s; /* 두 번째 이미지보다 0.66초 지연 */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
